@charset "utf-8";
/* CSS Document */
@font-face {  /* importing an font family */
	font-family: Cowboys; 
	src:url('Cowboys.ttf'); /* Cowboy family font is impoted */
}
@font-face { /* importing an font family */
	font-family: Rancho;
	src:url('Rancho-Regular.ttf'); /* rancho family font is impoted */
}

*{ /* universal paddings and margins are set to zero */
	margin: 0;
	padding: 0;
}

.bg{ /* background class */
    heigh: 100%; /* max width and height are assigned to the background*/
    width: 100%;
      background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('Pictures/backgroud.jpg'); /* An image is added to background and filtered it colour */
      background-repeat: no-repeat; /* background is not repeated*/
      background-position: center; /* positon is centred*/
     background-attachment: fixed; /* attachment is fixed and background doesnt move with scrolling*/
      background-size: cover; /* background covers all the aspect ratio */
      
      position: relative; /* postion is relative, it keeps moving on webpage to stay at same place on screen*/
      height: auto; /* setting the height of the webpage */
  }
img{
	width: 100px; /* logo is given a height and width*/
	height: 100px;
}
.navbar{
	display: flex; /* it makes all the items move in a single line */
	align-items: center; /* all items are allighned to the centre*/
	padding: 20px; /* paddings are added accordingly*/
	padding-left: 50px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 100px;
}
nav{  /* styling nav */
	flex: 1;
	text-align: right;
}

nav ul{ /* styling the ul element in navigatiuon bar*/
	display: inline-block;
	list-style: none;
}

nav ul li{ /* styling the list of naviation bar  */
	display: inline-block;
	margin-right: 70px;
}

nav ul li a{ /* styling all the naviagtion bar items and its text */
	color: gold;
	font-family: Cowboys; /* custom text used */
	text-decoration: none; /* to remove underlines etc */
	font-size: 20px;
	text-shadow: 1px 1px #000000; /* to add a weight and make font asthetic */
	
}

.img{ /* to style the cart on navigation bar */
	width: 50px;
	height: 50px;
	padding-left: 10px;
	padding-top: 10px;
}


nav ul li a:hover{ /* to make text white while cursor hover on it */
	color: wheat;
}

.img:hover{ /* to enlarge the cart while cursor hover on it */
	padding-left: 0px;
	padding-top: 0px;
	width: 60px;
	height: 60px;
}


 .slider-holder
{
	width: 1200px;
	height: 600px; /* setting the size of the slider box */
	background-color: yellow; /* background colour of the box is yellow */
	margin-left: auto; /* margins are automatically adjust to make the slider postion at centre.*/
	margin-right: auto;
	margin-top: 0px;
	text-align: center;
	overflow: hidden; /* if content is bigger than the slider box it hides */
	border-radius: 15px; /* making the border of the slider round */
}

.image-holder
{
	width: 3600px; /*setting the size of the image holder which is basically the 3 times of the simple image holder */
	background-color: red; /* background colour of image holder is red */
	height: 600px;
	clear: both;
	position: relative; /* position is relative so it stays on the screen even if postions chanegs */

	-webkit-transition: left 2s; /* provides how the image should be transitioed while any button is pressed. */
	-moz-transition: left 2s;
	-o-transition: left 2s;
	transition: left 2s;
}

.slider-image
{ 
	width: 1200px; /* settiing width */
	max-height: 100%; /* max height is 100% and height is then determined automatically */
	height: auto;
	float: left; /* images start at left*/
	margin: 0px;
	padding: 0px;
	position: relative;
}

#slider-image-1:target ~ .image-holder
{
	left: 0px; /* image 1 is at 0px  */
}

#slider-image-2:target ~ .image-holder
{
	left: -1200px; /* image 2 is at 1200px  */
}

#slider-image-3:target ~ .image-holder
{
	left: -2400px; /* image 3 is at 2400px and they move according to the transition made  */
}

.button-holder /* to style the button of the slider show */
{
	position: relative;
	top: -20px;
}

.slider-change /* slider chnage is styled  */
{ 
	display: inline-block; /* display is in one line */
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: wheat;
}
.details{ /* styling details content  */
	width: 1200px; /* width and heigh are caluclated  */
	height: auto;
	margin-left: auto;
	margin-right: auto; /* auto margins make it position on centre  */
	margin-top: 80px;
	text-align: center;
	overflow: hidden; /* if anything overflows the container it is over written  */
	background-color: rgba(0, 0, 0, 0.5); /* provides a transparent black background  */
	border-radius: 15px;
}
.img1{ /* to style image in the detail section */
	margin-top: 10px;
	width: 600px;
	height: inherit;
}
.heading{ /* to style the headings  */
	margin-top: 50px;
	font-family: Cowboys;
	color: gold;
	text-shadow: 2px 2px #ff0000;
}
.para{ /*to style and add custom font to the text added to details.  */
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: Rancho;
	text-shadow: 2px 2px #ff0000;
	font-size: 150%;
	color: white;
}
.footer{ /*to style the footer of the page*/
	margin-top: 50px;
	text-align: center;
	background-image: linear-gradient(180deg, darkorange, orange); /* adding background color */
	position: sticky; /* so that the footer stick at the bottom of the page */
	bottom: 0;
	
}
.footerContent{ /* to style the content in the footer */
	margin-left: auto; /* auto margin makes it to allign centre because of inherit properties*/
	margin-right: auto;
	width: 600px;
	display: flex; /* to display inline and fill all the spaces*/
	padding: 5px;
}
.footerimg{ /* to style logos attached in the footer */
	width: 50px;
	height: inherit;
}
.footertxt{ /* to style the text in the footer */
	color: black;
	font-family: Rancho;
	text-shadow: 1px 1px #f0f0f0;
	text-decoration: none;
	font-size: 120%
}